/**
 *
 * This CSS file contains styles for the index page of the DSVisualizer project.
 * It imports the "Roboto" font from Google Fonts and applies it to the body element.
 * The code element is styled with a monospace font.
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
