/**
 * 
 * This CSS file contains styles for customizing scrollbars in both dark and light themes.
 * 
 * - `.dark-theme-scrollbar` class is used to style scrollbars in the dark theme.
 * - `.light-theme-scrollbar` class is used to style scrollbars in the light theme.
 * 
 * The following pseudo-elements are targeted to style the scrollbars:
 * 
 * - `::-webkit-scrollbar` targets the main scrollbar element.
 * - `::-webkit-scrollbar-thumb` targets the thumb (the draggable part) of the scrollbar.
 * - `::-webkit-scrollbar-track` targets the track (the background) of the scrollbar.
 * 
 * In the dark theme:
 * - The width of the scrollbar is set to 8px.
 * - The background color of the thumb is #9f9f9f.
 * - The border radius of the thumb is set to 18px.
 * - On hover, the background color of the thumb changes to #636363.
 * 
 * In the light theme:
 * - The width of the scrollbar is set to 8px.
 * - The background color of the track is #fbfbfc.
 * - The background color of the thumb is #8b8b8b.
 * - The border radius of the thumb is set to 10px.
 * - On hover, the background color of the thumb changes to #6b6b6b.
 */
.dark-theme-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.dark-theme-scrollbar::-webkit-scrollbar-thumb {
  background: #9f9f9f;
  border-radius: 18px;
}

.dark-theme-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #636363;
}

/* Dark theme scrollbar */
.light-theme-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.light-theme-scrollbar::-webkit-scrollbar-track {
  background: #fbfbfc;
}

.light-theme-scrollbar::-webkit-scrollbar-thumb {
  background: #8b8b8b;
  border-radius: 10px;
}

.light-theme-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}
